<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Todos' }) %>
  <body>
    <%- include('partials/header') %>

    <main class="container">
      <h1>Welcome to Permalist</h1>
      <p>Your personal todo manager</p>
      <div>
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">Register</button>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
