<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Todos' }) %>
  <body>
    <%- include('partials/header') %>

    <main class="container form-container">
      <h1>Register</h1>
      <form action="/register" method="post">
        <input type="text" name="name" placeholder="Full Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="submit" value="Register" />
      </form>
      <p>or sign up with</p>
      <div class="icons">
        <a href="auth/google">
          <img src="/images/google.png" alt="Google" />
        </a>
        <a href="auth/github">
          <img src="/images/github.png" alt="GitHub" />
        </a>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
