/* General */
body {
  font-family: "Arial", sans-serif;
  background-color: #1e1e1e;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

/* Header */
header {
  background-color: #333;
  color: #f5f5f5;
  padding: 20px;
  gap: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}

nav a {
  margin-left: 10px;
}

.logo {
  font-size: 24px;
  background-color: #4caf50;
  color: #ffffff;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 5px;
}

.nav a:hover {
  color: #4caf50;
}

.user-name {
  color: #4caf50;
  font-weight: 700;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {
  nav a {
    margin-left: 10px;
  }
  .hamburger {
    display: flex;
  }

  .nav-links.active {
    position: absolute;
    background-color: #1e1e1e;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    top: 50px;
    right: 30px;
    padding: 40px 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    z-index: 1;
  }

  .nav-links {
    display: none;
  }
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #f5f5f5;
  text-align: center;
  height: 10vh;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: auto;
}

footer span {
  color: #4caf50;
  font-weight: 700;
}

/* Main */
.container {
  max-width: 750px;
  margin: 20px auto;
  padding: 30px;
  width: 90%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

button,
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
}

button:hover,
input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 4px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #555;
  outline: none;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

/* Todos */
#todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.todo-item.completed .todo-desc {
  text-decoration: line-through;
  color: #aaa;
}

.todo-desc {
  flex-grow: 1;
  padding: 0 10px;
}

.todo-date {
  margin-right: 5px;
  padding: 0 10px;
}

.complete-btn,
.delete-btn {
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 4px;
}

.complete-btn {
  background-color: #4caf50;
}
.complete-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #e74c3c;
}
.delete-btn:hover {
  background-color: #c0392b;
}

button i {
  margin-right: 5px;
}

.error-message {
  color: #e74c3c;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
